---
layout: default
---

<div class="home">
  {% for post in site.posts %}
  <div class="row">
    <div class="column">
      <h4 class="home-list">
        <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h4>
      <p class="post-description-home">{{ post.description }}</p>
    </div>
    <div class="column-offset-75">
      <span class="post-meta-home">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>
  </div>
  {% endfor %}
</div>
