<footer class="site-footer">
  <div class="container">
      <p>Mirango.io :: Site built with Jekyll using Milligram - source code available on GitLab.</p>
  </div>
</footer>
<script>
  var nav = responsiveNav(".nav-collapse", { // Selector
  animate: true,
  transition: 284,
  label: "mirango",
  insert: "before",
  closeOnNavClick: false,
  openPos: "relative",
  navClass: "nav-collapse",
  navActiveClass: "js-nav-active",
  jsClass: "js"
  });
</script>
