<header class="site-header">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <ul class="nav-collapse">
          <li><a href="https://www.mirango.io/">Home</a></li>
          <li><a href="https://www.mirango.io/about">About</a></li>
          <li><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xE864A72A086E2C05">PGP Key</a></li>
          <li><a href="https://www.twitter.com/mirangomadness">Twitter</a></li>
          <li><a href="https://gitlab.com/u/sdwalsh">GitLab</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="column col-center">
          <a href="https://www.mirango.io"><div class="page-title">mirango</div></a>
        </div>
      </div>
      <div class="row">
        <div class="column col-center">
          <div class="page-description">Sean's discussions in computer science, web development, and functional programming</div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <ul class="navigation">
            <li><a class="nav-desktop" href="https://www.mirango.io/">Home</a></li>
            <li><a class="nav-desktop" href="https://www.mirango.io/about">About</a></li>
            <li><a class="nav-desktop" href="https://pgp.mit.edu/pks/lookup?op=get&search=0xE864A72A086E2C05">PGP Key</a></li>
            <li><a class="nav-desktop" href="https://www.twitter.com/mirangomadness">Twitter</a></li>
            <li><a class="nav-desktop" href="https://gitlab.com/u/sdwalsh">GitLab</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
