
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px

$font-header: 'Source Code Pro'
$font-navigation: 'Source Code Pro'
$font-monospaced: 'Source Code Pro'
$font-post-title: 'Source Serif Pro', serif
$font-body-titles: 'Source Sans Pro', sans-serif
$font-body: 'Source Serif Pro', sans-serif
$font-footer: 'Source Code Pro'

html
	box-sizing: border-box
	font-size: 62.5%

body
	color: $color-secondary
	font-family: $font-body, 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-size: 1.8em // currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 300
	letter-spacing: .01em
	line-height: 1.6

// Box Sizing FTW
*,
*:after,
*:before
	box-sizing: border-box
