
// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

pre
	background: $color-tertiary
	border-left: .3rem solid $color-primary
	font-family: 'Source Code Pro'

code
	background: $color-tertiary
	border-radius: .4rem
	font-size: 80%
	padding: .2rem .2rem
	margin: 0 .2rem
	white-space: nowrap
	overflow: auto

pre > code
	background: transparent
	border-radius: 0
	display: block
	padding: 1rem 1.5rem
	white-space: pre

.highlight
	margin-left: 0rem

@media (min-width: 40.0rem)
	.highlight
		margin-left: 4rem
	code
		font-size: 110%
