
// Misc
// ––––––––––––––––––––––––––––––––––––––––––––––––––

hr
	border-top: .1rem solid $color-tertiary
	border-width: 0
	margin-bottom: 3.5rem
	margin-top: 3rem

img
	max-width: 100%
	height: auto
