
// Navigation
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.navigation-mobile
	@media (min-width: 40.0rem)
		display: none

.icon
	max-width: 4rem
	max-height: 2rem
	margin-right: .5rem
	@media (min-width: 40.0rem)
		max-height: 4rem

.navigation
	margin: 0rem
	display: none
	text-align: center
	justify-content: space-between

	@media (min-width: 40.0rem)
		display: flex
		font-size: 2rem
		justify-content: space-between

	li
		font-family: $font-header
		color: $color-primary
		text-transform: lowercase
		white-space: nowrap
		text-decoration: none
		text-align: center
		list-style: none
		display: inline-block
		font-size: 1.1rem
		font-weight: 700
		height: 3.8rem
		letter-spacing: .1rem
		line-height: 3.8rem
		padding: 0 3.0rem
		@media (min-width: 40.0rem)
			padding: 0rem
			font-size: 2rem
		&:hover,
		&:focus
			color: $color-secondary
			background-color: transparent
			border-color: transparent
