
// Site Style
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.page-title
  font-family: $font-header
  font-size: 7rem
  display: none
  text-align: center
  line-height: normal
  margin-bottom: none
  padding-bottom: none
  letter-spacing: normal

.home-list
  margin-bottom: 0rem

.page-description
  font-family: $font-header
  text-align: center
  font-size: 1.5rem
  margin: none
  padding: none

.wrapper
  border-bottom: .3rem solid $color-quinary

.post-content
  padding-top: 3rem
  padding-bottom: 3rem

.post-title
  text-align: left
  font-family: $font-post-title
  letter-spacing: .02em
  padding: none
  margin-bottom: 0rem
  line-height: normal

p img
  display: block
  margin: 0 auto

.post-meta
  font-family: $font-post-title
  text-align: left
  padding: none
  margin: none

.site-footer
  font-family: $font-footer
  border-top: .3rem solid $color-quinary
  padding-top: 1rem
  font-size: 1.3rem
  text-align: center

.post-meta-home
  display: none

@media (min-width: 40.0rem)
  .post-description-home
    text-align: left

  .post-meta-home
    display: flex

  .post-title
    text-align: left

  .post-meta
    text-align: left

  .page-title
    display: block
    font-size: 10rem

  .page-description
    font-size: 2rem

  .page-description:
    font-size: 2rem
