
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

p
	margin-top: 0
	font-kerning: auto

h1,
h2,
h3,
h4,
h5,
h6
	font-family: $font-body-titles
	text-align: left
	font-weight: 300
	margin-bottom: 2.0rem
	margin-top: 0

h1
	font-size: 4.0rem
	letter-spacing: -.1rem
	line-height: 1.2

h2
	font-size: 3.6rem
	letter-spacing: -.1rem
	line-height: 1.25

h3
	font-size: 3.0rem
	letter-spacing: -.1rem
	line-height: 1.3

h4
	font-size: 2.4rem
	letter-spacing: -.08rem
	line-height: 1.35

h5
	font-size: 1.8rem
	letter-spacing: -.05rem
	line-height: 1.5

h6
	font-size: 1.6rem
	letter-spacing: 0
	line-height: 1.4

// Larger than mobile screen
@media (min-width: 40.0rem)

	h1
		font-size: 5.0rem

	h2
		font-size: 4.2rem

	h3
		font-size: 3.6rem

	h4
		font-size: 3.0rem

	h5
		font-size: 2.4rem

	h6
		font-size: 1.5rem
