@import "syntax";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */
$base00: #2d2d2d;
$base01: #393939;
$base02: #515151;
$base03: #747369;
$base04: #a09f93;
$base05: #d3d0c8;
$base06: #e8e6df;
$base07: #f2f0ec;
$base08: #f2777a;
$base09: #f99157;
$base0a: #ffcc66;
$base0b: #99cc99;
$base0c: #66cccc;
$base0d: #6699cc;
$base0e: #cc99cc;
$base0f: #d27b53;

$k1: #51412c;
$k2: #221a0f;
$k3: #d3af86;
$k4: #a57a4c;
$k5: #e3b583;
$k6: #7c5021;
$k7: #51412c;
$k8: #51412c;
$k9: #51412c;

$color-bar: linear-gradient(90deg, 
  $base08, $base09, $base0a, $base0b, $base0c, $base0d, $base0e, $base0f);

.base00 { color: $base00; }
.base01 { color: $base01; }
.base02 { color: $base02; }
.base03 { color: $base03; }
.base04 { color: $base04; }
.base05 { color: $base05; }
.base06 { color: $base06; }
.base07 { color: $base07; }
.base08 { color: $base08; }
.base09 { color: $base09; }
.base0a { color: $base0a; }
.base0b { color: $base0b; }
.base0c { color: $base0c; }
.base0d { color: $base0d; }
.base0e { color: $base0e; }
.base0f { color: $base0f; }

// <a> tags
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

a {
  text-decoration-line: none;
}

#{$a-tags} {
  color: $base0b;
}
#{$a-tags-hover} {
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0);
  }
  25% {
    filter: hue-rotate(45deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  75% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}

@keyframes changeColor {
  0% {
    color: $base0c;
  }
  12% {
    color: $base0d;
  }
  25% {
    color: $base0e;
  }
  37% {
    color: $base0f;
  }
  50% {
    color: $base08;
  }
  62% {
    color: $base09;
  }
  75% {
    color: $base0a;
  }
  87% {
    color: $base0b;
  }
  100% {
    color: $base0c;
  }
}

@keyframes changeColorTitle {
  0% {
    color: $base0c;
  }
  14% {
    color: $base0d;
  }
  28% {
    color: $base0e;
  }
  42% {
    color: $base08;
  }
  56% {
    color: $base09;
  }
  70% {
    color: $base0a;
  }
  84% {
    color: $base0b;
  }
  100% {
    color: $base0c;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $base00;
  color: $base05;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
}

.container {
  display: grid;
  grid-gap: 10px;
  max-width: 1200px;
  margin: auto;
}

.site-title {
  font-family: 'Anonymous Pro', monospace;
  font-size: 55px;
  align-self: end;
  margin: 10px 0 0 0;
  #{$a-tags} {
    text-decoration: none;
  }
  @media screen and (min-width: 800px) {
    margin: 25px 0 0 0;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 800px) {
    margin-bottom: 40px;
    grid-template-columns: 1fr 4fr;
  }
}

.mirango a:hover > span {
  animation-name: changeColorTitle;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
.mirango a:hover > .base05 {
  animation: none;
}
.mirango a:hover > .base08, .mirango a:hover > .base0a,
 .mirango a:hover > .base0c, .mirango a:hover > .base0e {
  animation-delay: -9s;
}
.mirango a:hover > .base09, .mirango a:hover > .base0b, 
 .mirango a:hover > .base0d {
  animation-delay: -7s;
}


nav {
  font-family: 'Anonymous Pro', monospace;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-content: end;
  margin-top: 10px;
  font-size: 18px;
  #{$a-tags} {
    color: $base0e;
  }
  @media screen and (min-width: 800px) {
    #{$a-tags} {
      color: $base0b;
    }
    font-size: 22px;
    margin-top: 0px;
  }
  a:before {
    content: "\00BB";
    color: $base05;
  }
}

.content {
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  width: 96vw;
  margin: auto;
  @media screen and (min-width: 900px) {
    width: 100%;
  }
  img {
    max-width: 96vw;
    height: auto;
    width: auto;
    max-height: 100vh;
  }
  h1 {
    font-family: 'Merriweather Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, $base08, $base09, $base0a, $base0b, $base0c, $base0d, $base0e) 13;
  }
  h1, h2, h3, h4, h5, h6 {
    color: darken($base06, 10%);
  }
  h1:before {
    content: "\00BB";
  }
  table {
    font-family: 'Anonymous Pro', monospace;
    border-collapse: collapse;
    td, th {
      padding: 0px 10px 0px 10px;
      border: 1px solid lighten($base00, 15%);;
    }    
    tbody tr:nth-child(even) {
      background-color: lighten($base00, 5%);
    }
  }
  blockquote {
    font-family: 'Merriweather Sans', sans-serif;
    color: darken($base09, 15%);
  }
  pre {
    overflow-x: auto;
    font-family: 'Anonymous Pro', monospace;
    font-size: 14px;
    @media screen and (min-width: 600px) {
      white-space: pre-wrap;
      font-size: 16px;
    }
  }
  code {
    background-color: #202020;    
  }
}

.projects {
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
  .description {
    #{$a-tags} {
      color: $base05;
    }
    #{$a-tags-hover} {
      color: $base0c;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td {
    padding-right: 10px;
  }
  .arrow {
    visibility: hidden;
  }
  h2 {
    font-size: 20px;
    margin: 0px;
    padding-bottom: 20px;
  }
  .language-icon {
    text-align: right;
    svg {
      height: 30px;
      width: 30px;
    }
  }
  @media screen and (min-width: 900px) {
    .arrow {
      visibility: visible;
    }
  }
}

.list-item {
  padding: 12px 0 12px 0;
  font-size: 16px;
  .headline-group {
    h2 {
      margin: 0px;
    }
  }
  .meta {
    font-family: 'Anonymous Pro', monospace;
  }
  .summary {
    padding-top: 5px;
  }
  p:nth-child(odd) {
    margin: 0;
  }
  p:nth-child(even) {
    margin: 5px 0 0 0;
  }
}

.footer {
  font-family: 'Anonymous Pro', monospace;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 10px solid;
  border-image: linear-gradient(90deg, $base08, $base09, $base0a, $base0b, $base0c, $base0d, $base0e) 12;
  line-height: 1.1;
  display: grid;
  @media screen and (min-width: 600px) {
    margin-bottom: 40px;
    grid-template-columns: 3fr 2fr;
    .commit {
      font-size: 18px;
    }
    .commit-data {
      text-align: right;
      #{$a-tags} {
        color: $base09;
      }
    }
  }
}
