<div class="list-item" itemscope itemtype="http://schema.org/Blog">
  <div class="headline-group">
    <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
    <div class="meta">
    {{ if not .Date.IsZero }}
      <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
    {{ end }}
    </div>
  </div>
  <div class="summary">
    {{ .Description | markdownify }}
  </div>
</div>
