<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
  {{- with $.Param "keywords" }}
  <meta name="keywords" content="{{ delimit . "," }}">
  {{- end }}
  {{- with $.Param "author" }}
  <meta name="author" content="{{ . }}">
  {{- end }}
  {{ .Hugo.Generator }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}" type="text/css">
  <link rel="alternate" href="{{ "index.xml" | relURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
</head>
