  <div class="projects">
    {{ partial "projects.html" . }}
  </div>
  <div class="article-list">
    {{ range .Site.Pages }}
      {{ if eq .Type "post" }}
        {{ partial "article-list-item.html" . }}
      {{ end }}
    {{ end }}
  </div>