<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div class ="container">

    {% include header.html %}

    <div class="row">
      <div class="column">
        <div class ="container post-content">
        {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>
  </body>

</html>
